
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    background-image: url('bg.jpg');  
    background-size: cover;           
    background-position: center;  
    background-repeat: no-repeat;

}

.container {
 width: 90%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.55); /* 0.55 = 55% opacity */
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #198800;
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 15px;
    color: #000000;
    margin-bottom: 25px;
}

section {
    margin-top: 30px;
    text-align: left;
}

section h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    color: #000000;
}

section p {
    font-size: 15px;
    line-height: 1.8;
    color: #000000;
}

button {
    margin-top: 15px;
    padding: 10px 18px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    background-color: #198800;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}




@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    .profile {
        width: 130px;
        height: 130px;
    }
}
